@model ExpenseApplication.Models.ViewModels.ExpenseFormViewModel

@using (Html.BeginForm("AddExpense", "Employee", FormMethod.Post))
{
    <div id="expenseData" data-expense-index="@Model.Expenses.Count"></div>
    <h2>Create Expense Form</h2>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Currency, "Currency")
        @Html.DropDownListFor(m => m.Currency, Model.CurrencyList, "Select a currency--", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Currency, "", new { @class = "text-danger" })
    </div>

    <h3 class="mt-3">Expenses</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Expense Date</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="expensesTable">
            @for (int i = 0; i < Model.Expenses.Count; i++)
            {
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.Expenses[i].Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Expenses[i].Description, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Expenses[i].ExpenseDate, new { @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(m => m.Expenses[i].ExpenseDate, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Expenses[i].Amount, new { @class = "form-control amountInput" })
                        @Html.ValidationMessageFor(m => m.Expenses[i].Amount, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger removeExpense">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" id="addExpense" class="btn btn-primary">Add Expense</button>

    <div class="float-end mt-4">
        <strong>Total Amount:</strong> <span id="totalAmount">0.00</span>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-success" id="expenseForm">Submit Expense Form</button>
    </div>
}


@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="~/MyScripts/ExpenseForm.js"></script>
}
